@model Biblioteka.Models.Knjiga

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Knjiga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("RegistrujKnjigu", "Knjige", FormMethod.Post))
        {
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="naslov" class="control-label"></label>
                @Html.TextBox("Naziv", null, new { @class = "form-control" })
                <span asp-validation-for="naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autor" class="control-label"></label>
                @Html.TextBox("Autor", null, new { @class = "form-control" })
                <span asp-validation-for="autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="broj_stranica" class="control-label"></label>
                @Html.TextBox("broj_stranica", null, new { @class = "form-control" })
                <span asp-validation-for="broj_stranica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datum_izdavanja" class="control-label"></label>
                @Html.TextBox("Date", null, new { @class = "form-control", placeholder = "YYYY-MM-DD" })
                <span asp-validation-for="datum_izdavanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kolicina" class="control-label"></label>
                @Html.TextBox("Kolicina", null, new { @class = "form-control" })
                <span asp-validation-for="kolicina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="opis" class="control-label"></label>
                @Html.TextBox("Opis", null, new { @class = "form-control" })
                <span asp-validation-for="opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Jezik</label>
                @Html.TextBox("Jezik", null, new { @class = "form-control" })
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Zanr</label>
                @Html.TextBox("Zanr", null, new { @class = "form-control" })
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}