@model Biblioteka.Models.KnjigaPage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Knjiga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Knjiga.naslov)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Knjiga.autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Knjiga.broj_stranica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Knjiga.datum_izdavanja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Knjiga.kolicina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Knjiga.opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jezik.naziv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grad.naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocjena.ocjena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Komentar.komentar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zanr.naziv)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Knjiga.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
