@model Biblioteka.Models.KnjigaPage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Knjiga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("EditKnjiga", "Knjige", FormMethod.Post))
        {
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="naslov" class="control-label"></label>
                    @Html.TextBox("Naziv", Model.naslov, new { @class = "form-control" })
                    <span asp-validation-for="naslov" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="autor" class="control-label"></label>
                    @Html.TextBox("Autor", Model.autor, new { @class = "form-control" })
                    <span asp-validation-for="autor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="broj_stranica" class="control-label"></label>
                    @Html.TextBox("broj_stranica", Model.broj_stranica, new { @class = "form-control", placeholder = "0" })
                    <span asp-validation-for="broj_stranica" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="datum_izdavanja" class="control-label"></label>
                    @Html.TextBox("datum", Model.datum_izdavanja, new { @class = "form-control",@type="date", placeholder = "YYYY/MM/DD" })
                    <span asp-validation-for="datum_izdavanja" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="kolicina" class="control-label"></label>
                    @Html.TextBox("Kolicina", Model.kolicina, new { @class = "form-control" })
                    <span asp-validation-for="kolicina" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="opis" class="control-label"></label>
                    @Html.TextBox("Opis", Model.opis, new { @class = "form-control" })
                    <span asp-validation-for="opis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Jezik</label>
                    <select name="jezik" class="form-control" multiple>
                        @foreach (string item in ViewBag.Jezici)
                        {
                            <option value="@item">@item</option>
                        }
                        @foreach(string item in ViewBag.Jezici)
                        {
                            
                        }
                    </select>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Zanr</label>
                    <select name="Zanr" class="form-control" multiple>
                        @foreach (string item in ViewBag.Zanrovi)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <span class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
