@model IEnumerable<Biblioteka.Models.Knjiga>


@{
    ViewData["Title"] = "Index";
    string selectedValue = "Bosanski";
}

<p>
    <a asp-action="Create">Dodaj novu knjigu!</a>
</p>
<br />
<p>Pretrazi po naslovu ili autoru knjige!</p>
@using (Html.BeginForm("Index", "Knjige", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input type="submit" value="Pretraga" class="btn btn-default" />


}
<br />
@using (Html.BeginForm("Sortiraj", "Knjige", FormMethod.Post))
{
<select id="genre" name="zanr" class="form-control" onchange="FilterSort()">
    <option value="" selected disabled hidden>Filtriraj po zanru</option>
    <option value="Akcija">Akcija</option>
    <option value="Horror">Horror</option>
    <option value="Sci-Fi">Sci-Fi</option>
    <option value="Triler">Triler</option>
    <option value="Romansa">Romansa</option>
    <option value="Historija">Historija</option>
    <option value="Misterija">Misterija</option>
</select>
<br />

<select id="language" name="jezik" class="form-control" onchange="FilterSort()">
    <option value="" selected disabled hidden>Filtriraj po jeziku</option>
    <option value="Bosanski">Bosanski</option>
    <option value="Njemacki">Njemacki</option>
    <option value="Engleski">Engleski</option>
    <option value="Ruski">Ruski</option>

</select>
<br />
<select id="sortV" name="sort" class="form-control" onchange="FilterSort()">
    <option value="" selected disabled hidden>Sortiranje</option>
    <option value="Abecedni">Abecednom poretku</option>
    <option value="Datumu">Datumu(opadajuci poredak)</option>
    <option value="brojuStranica">Broju stranica(opadajuci poredak)</option>
    <option value="Kolicina">Broju dostupnih knjiga(opadajuci poredak)</option>
    <option value="Ocjena">Po ocjeni</option>
    <option value="Popularnosti">Popularnosti</option>

</select>
<br />
<script>
    function FilterSort() {
        var genre = document.getElementById("genre").value;
        var language = document.getElementById("language").value;
        var sortV = document.getElementById("sortV").value;

        if (genre == null) {
            genre = "Filtiraj";
        }
        if (language == null) {
            language = "Filtriraj";
        }
        if (sortV == null) {
            sortV = "Sortiranje";
        }
        window.location.href = "/Knjige?jezik=" + language +"&zanr="+genre+"&sort="+sortV;
    }
</script>

}
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naslov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.broj_stranica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datum_izdavanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kolicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.naslov)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.broj_stranica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.datum_izdavanja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.kolicina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.opis)
                </td>

                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Bibliotekar"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.id">Details</a>


                </td>
            </tr>
        }
    </tbody>
</table>
